.monthStat {
    padding: 4px;
    margin: 2px 2px 20px 2px;
    cursor: pointer;
    width: 200px;
    font-size: 12px;
    background-color: #b5d0b9;
}

.monthName {
    font-weight: bold;
    color: #d26400;
    margin-left: 3px;
}

.monthStatSavings {
    padding: 4px;
    margin: 2px;
    display: flex;
    font-weight: bold;
}

.monthStatSavings div {
    width: 50%;
    text-align: middle;
    margin-right: 10px;
    color: #d26400;
}

.monthStatDetails {
    margin-top: 50px;
}
