.stat_thumbs {
    display: block;
    overflow: auto;
    position: fixed;
    width: 220px;
    background-color: #ccead1;
    padding: 10px;
    height: 100%;
    top: 50px;
}

.stat_details {
    display: block;
    margin-left: 240px;
    padding: 10px;
}
